label {
    width: 100%;
    border: none;
    padding: 0.5rem;
    font-size: 2.25rem;
    color: var(--light);
    background-color: var(--darker);
    border-radius: 0;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

#combo_edicion {
    width: 100%;
}

td {
    width: 100%;
    border: none;
    padding: 0.5rem;
    font-size: 2.25rem;
    color: var(--light);
    background-color: var(--darker);
    border-radius: 0;
    margin-bottom: 1rem;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
}

td:hover {
    background-color: pink;
    color: rebeccapurple;
    cursor: pointer;
}